@import url('https://fonts.googleapis.com/css?family=Baloo');
body{
  margin: 0;
  padding: 0;
  background: #29323c;
  font-family: "baloo";
  color: white;
}
*{
  box-sizing: border-box;
  font-family: "baloo";
}
header{
  width: 100%;
  text-align: center;
  float: left;
}
.bgimage{
  position: absolute;
  width: 100%;
  height: 100%;
  background: url("./Images/loginbg.jpg");
  z-index: 0;
  filter: blur(5px);
  background-size: cover;
}
.logo{
  width: 150px;
  height: 150px;
  margin: auto;
  background: url(./images/logo.png);
  background-size: cover;
  color: white;
  animation: rotate 5s linear infinite;
}
.home{
  display: block;
  width: 100%;
  height: 100%;
}
@keyframes rotate {
  0%{transform: rotate(0deg);}
  100%{transform: rotate(360deg);}
}
h1{
  color: white;
}
main{
  position: relative;
  float: left;
  width: 100%;
  height: auto;
  z-index: 5;
}
.wrapper{
  max-width: 1200px;
  margin: auto;
z-index: 5;
}
.rorl{
  width: 300px;
  height: 50px;
  margin: auto;
  z-index: 10000;
}
.rorl a{
  float: left;
  text-align: center;
  display: block;
  text-decoration: none;
  width: 50%;
  height: 100%;
  color: white;
  border: 2px solid white;
  margin-top: 20px;
  line-height: 50px;
}
.rorl a:hover{
  background: #007dff;
  border-color: #007dff;
  cursor: pointer;
}
.hidden{
  display: none;
}
.selected{
  background: #007dff;
  border:2px solid #007dff;
}
  form{
    width: 300px;
    height: auto;
    margin: auto;
  }
  input{
    width: 100%;
    height: 50px;
    float: left;
    outline: none;
    border: white solid 2px;
    background: black;
    font-size: 20px;
    text-align: center;
    color: white;
  }
  input:focus{
    background: #007dff;
    border-color: #007dff;
  }
  input:hover{
    border-color: #007dff;
  }
  .button:hover{
    background: #007dff;
    cursor: pointer;
  }
.error{
  display: block;
  width: 300px;
  height: 50px;
  color: #007dff;
  text-align: center;
  line-height: 50px;

  margin: auto;
  font-size: 30px;
}
